/* Global styling, border-box och fontstyling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Styling för body */
body {
    background-color: rgb(0, 0, 0); /* Om gradients inte är supported i webbläsaren */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 1, 26));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100svh;
    width: 100svw;
}
/* Styling för header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15svh;
}
/* Styling för sidtitel - SOLARIS */
.headerTitle {
    color: rgb(0, 174, 255);
    text-shadow: 0 0 0.2rem rgb(80, 200, 255); /* Lätt glow-effect */
    font-size: 3rem;
}
/* Styling för footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20svh;
}
/* Styling för inputfältet*/
.planetInput {
    border: 1px solid rgba(0, 174, 255, 0.25);
    border-radius: 1em;
    background-color: black;
    color:rgba(0, 174, 255);
    text-align: center;
    width: 50svw;
    height: 5svh;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 174, 255);
}
/* Styling för placeholder-text i inputfältet */
input::placeholder {
    color: rgba(0, 174, 255);
    opacity: 0.5;
}
/* Styling för när inputfältet är markerat (focus) */
input:focus {
    outline: none;
    border: 1px solid rgba(0, 174, 255);
}
/* Styling för SÖK-knapp */
.searchButton {
    color: #000000;
    border: 1px solid rgba(0, 174, 255);
    border-radius: 1em;
    background-color: rgb(0, 174, 255, 0.7);
    font-size: 1.3rem;
    width: 25svw;
    height: 6svh;
    cursor: pointer;
}
/* Styling för planetraden */
.planetsRow {
    width: 90svw;
    height: 15svh;
    max-width: 90svw;
    max-height: 15svh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* Styling för solsystemet med solen som centrum och planeter i omlopp */
.solsystem {
    position: relative;
    width: 50svmin;
    height: 50svmin;
    max-width: 50svw;
    max-height: 50svh;
    border: 1px solid rgba(0, 174, 255, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling för solen i solsystemet */
.sol {
    width: 15%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fdff6e;
    box-shadow: 0 0 2svw #b8ffea, 0 0 4svw #7ffff4 inset; /* Glow-effect */
}
/* Styling för att göra alla planeter i planetraden och solsystemet runda */
.planet, .planetRow {
    border-radius: 50%;
}
/* Styling för planeter i solsystemet */
.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    box-shadow: 0 0 0.3svh #000000 inset; /* Inset skugga för att se rundare ut */
}
/* Styling för planeter i planetraden */
.planetRow {
    box-shadow: 0 0 2svh #000000 inset; /* Inset skugga för att se rundare ut */
    cursor: pointer; /* Pointer för att visa att de är klickbara */
}
.planetRow:hover {
    box-shadow: 0 0 1svh rgb(0, 174, 255);
}
/* Styling för Merkurius i solsystemet och planetraden */
.mercury, .mercuryRow {
    background-color: #888888;
    width: 5svh;
    height: 5svh;
    max-height: 5svw;
    max-width: 5svw;
}
/* Styling för Merkurius i solsystemet */
.mercury {
    width: 1.5%;
    height: 1.5%;
    min-height: 1.5%;
    animation: orbit-mercury 6s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Venus i solsystemet och planetraden */
.venus, .venusRow {
    background-color: #e3c97e;
    width: 7svh;
    height: 7svh;
    max-height: 7svw;
    max-width: 7svw;
}
/* Styling för Venus i solsystemet */
.venus {
    width: 2%;
    height: 2%;
    min-height: 2%;
    animation: orbit-venus 10s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Jorden i solsystemet och planetraden */
.earth, .earthRow {
    background-color: #2a5d9f; /* Om gradients inte är supported i webbläsaren*/
    background: radial-gradient(circle at 30% 30%, #2a5d9f, #4caf50);
    width: 7svh;
    height: 7svh;
    max-height: 7svw;
    max-width: 7svw;
}
/* Styling för Jorden i solsystemet */
.earth {
    width: 2.5%;
    height: 2.5%;
    animation: orbit-earth 16s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Mars i solsystemet och planetraden */
.mars, .marsRow {
    background-color: #c1440e;
    width: 5svh;
    height: 5svh;
    max-height: 5svw;
    max-width: 5svw;
}
/* Styling för Mars i solsystemet */
.mars {
    width: 2.2%;
    height: 2.2%;
    animation: orbit-mars 28s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Jupiter i solsystemet och planetraden */
.jupiter, .jupiterRow{
    background-color: #d9a066; /* Om gradients inte är supported i webbläsaren*/
    background: linear-gradient(135deg, #d9a066 25%, #f4f1ed 25%, #f4f1ed 50%, #d9a066 50%, #d9a066 75%, #b74f2e 75%); /* Försök att få Jupiter att se ut som Jupiter */
    background-size: 100% 20%;
    width: 12svh;
    height: 12svh;
    max-height: 12svw;
    max-width: 12svw;
}
/* Styling för Jupiter i solsystemet */
.jupiter {
    width: 6%;
    height: 6%;
    min-height: 6%;
    animation: orbit-jupiter 40s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Saturnus i planetraden för att positionera ringarna */
.saturnRow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling för Saturnus i solsystemet och planetraden */
.saturn, .saturnRow {
    background-color: #ecd9a1;
    width: 11svh;
    height: 11svh;
    max-height: 11svw;
    max-width: 11svw;
}
/* Styling för Saturnus i solsystemet */
.saturn {
    width: 5%;
    height: 5%;
    animation: orbit-saturn 50s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Saturnus ringar */
.saturnRing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(-15deg); /* Centrerar och snedställer */
    z-index: 2; /* Lägger "ovanpå" Saturnus */
}
/* Styling för Uranus i solsystemet och planetraden */
.uranus, .uranusRow {
    background-color: #7fdbda;
    width: 9svh;
    height: 9svh;
    max-height: 9svw;
    max-width: 9svw;
}
/* Styling för Uranus i solsystemet */
.uranus {
    width: 4%;
    height: 4%;
    animation: orbit-uranus 80s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för Neptunus i solsystemet och planetraden */
.neptune, .neptuneRow {
    background-color: #2443a6;
    width: 9svh;
    height: 9svh;
    max-height: 9svw;
    max-width: 9svw;
}
/* Styling för Neptunus i solsystemet */
.neptune {
    width: 3%;
    height: 3%;
    animation: orbit-neptune 120s infinite linear; /* Animerar omloppsbana runt solen */
}
/* Styling för stjärnor i bakgrunden */
.star {
    position: absolute; /* Absolute för att de ska kunna placeras ut randomly med JS-funktion */
    background-color: rgb(255, 255, 255);
    width: 1px;
    height: 1px;
    border-radius: 50%;
    z-index: -1; /* Lägger "bakom" allt annat */
}
/* Styling för infoBox (behållare för infoBoxContent), 0.8 opacity för att skapa "nivåskillnad" när inforutan är öppen */
.infoBox {
    display: none; /* Dold tills sökning utförts */
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.8); /* Inforutan täcker inte hela skärmen, detta gör att allt utanför inforutan "bleknar" */
    z-index: 1000; /* Lägger infoBox och dess barn "ovanpå" allt annat */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Styling för när infoBox är synlig */
.infoBox.visible {
    display: flex;
}
.infoBoxContentBox {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 85svw;
    height: 60svh;
    box-shadow: 0 0 10px rgba(0, 174, 255); /* Glow-effekt */
}
/* Styling för inforutan */
.infoBoxContent {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 10px;
    width: 100%;
    overflow-y: auto;
    color: rgb(0, 174, 255);
    text-align: center;
    padding: 5%;
    padding-bottom: 10svh;
}
.closeButtonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: sticky;
    bottom: 0;
    min-height: 10svh;
    width: 100%;
}
/* Styling för STÄNG-knapp */
.closeButton {
    color: #000000;
    border: 1px solid rgba(0, 174, 255);
    border-radius: 1em;
    background-color: rgb(0, 174, 255, 0.7);
    font-size: 1.5rem;
    width: 25svw;
    height: 6svh;
    cursor: pointer;
}
/* Styling för felmeddelande vid felaktig input i inputfätet */
.errorMessage {
    background-color: black;
    color: red;
    line-height: 2;
    text-align: center;
    margin-bottom: 5svmin;
    width: 80svmin;
    border: 1px solid red;
}
/* Styling för STÄNG-knappen vid felmeddelande */
.closeErrorButton {
    color: white;
    background-color: red;
    border: 1px solid white;
    border-radius: 50%;
    width: 10svmin;
    height: 10svmin;
    cursor: pointer;
}
@media only screen and (max-width: 991px) {
    .infoHeader, .infoDescBox, .infoCircBox, .infoDistBox, .infoTempBox, .infoOrbitBox {
        margin-bottom: 1svh;
    }
}
/* Styling för skärmar bredare än 992px */
@media only screen and (min-width: 992px) {
    .infoBoxContentBox {
        height: 90svh;
        width: 90svw;
        justify-content: space-between;
    }
    /* Ändrar layout för inforutan vid bredare skärm */
    .infoBoxContent {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: left;
        padding: 1%;
    }
    .closeButton {
        width: 15svw;
    }
    /* infoHeader (behållare för namn på svenska och latin), infoDescBox (behållare för beskrivning) 
    och infoMoonsBox (behållare för månar) tar upp en hel row */
    .infoHeader, .infoDescBox, .infoMoonsBox {
        width: 100%;
        padding: 1%;
    }
    /* infoCircBox (behållare för omkrets), infoDistBox (behållare för avstånd), infoTempBox (behållare för min/max temperatur)
    och infoOrbitBox (behållare för omloppsperiod) tar upp en halv row var */
    .infoCircBox, .infoDistBox, .infoTempBox, .infoOrbitBox {
        width: 50%;
        padding: 1%;
    }
    /* ---Delar upp inforutan i tre portioner--- */
    .infoHeader, .infoDescBox {
        border-bottom: 1px solid rgba(0, 174, 255, 0.25);
    }
    .infoMoonsBox {
        border-top: 1px solid rgba(0, 174, 255, 0.25);
    }
    /* ----------------------------------------- */
}
/* Keyframes för animation av omloppsbanor runt solen för planeterna i solsystemet */
@keyframes orbit-mercury {
    0% {
        transform: translate(-50%, -50%) rotate(45deg) translateX(5svmin) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(405deg) translateX(5svmin) rotate(-405deg);
    }
}
@keyframes orbit-venus {
    0% {
        transform: translate(-50%, -50%) rotate(12deg) translateX(7svmin) rotate(-12deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(372deg) translateX(7svmin) rotate(-372deg);
    }
}
@keyframes orbit-earth {
    0% {
        transform: translate(-50%, -50%) rotate(112deg) translateX(9svmin) rotate(-112deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(472deg) translateX(9svmin) rotate(-472deg);
    }
}
@keyframes orbit-mars {
    0% {
        transform: translate(-50%, -50%) rotate(175deg) translateX(11svmin) rotate(-175deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(535deg) translateX(11svmin) rotate(-535deg);
    }
}
@keyframes orbit-jupiter {
    0% {
        transform: translate(-50%, -50%) rotate(220deg) translateX(14svmin) rotate(-220deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(580deg) translateX(14svmin) rotate(-580deg);
    }
}
@keyframes orbit-saturn {
    0% {
        transform: translate(-50%, -50%) rotate(300deg) translateX(17svmin) rotate(-300deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(660deg) translateX(17svmin) rotate(-660deg);
    }
}
@keyframes orbit-uranus {
    0% {
        transform: translate(-50%, -50%) rotate(90deg) translateX(20svmin) rotate(-90deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(450deg) translateX(20svmin) rotate(-450deg);
    }
}
@keyframes orbit-neptune {
    0% {
        transform: translate(-50%, -50%) rotate(200deg) translateX(23svmin) rotate(-200deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(560deg) translateX(23svmin) rotate(-560deg);
    }
}